.icon-button {
  background: none;
  border: none;
  color: inherit;
}
.file-title {
  height: calc(1.5em + .75rem + 2px);
  line-height: calc(1.5em + .75rem + 2px);
}
.c-click {
  cursor: pointer;
}
.start-page {
  font-size: 30px;
  height: 300px;
  line-height: 300px;
  color: #ccc;
  text-align: center;
}
.left-panel {
  position: relative;
  min-height: 100vh;
}
.button-group {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.no-border {
  border-radius: 0 !important;
}